<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    
  </configSections>
  <connectionStrings>
    <add name="LadisacEntities" connectionString="metadata=res://*/LadisacModel.csdl|res://*/LadisacModel.ssdl|res://*/LadisacModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.10.2,1433;Initial Catalog=Diamante;Persist Security Info=True;User ID=DesarrolloDiamante;Password=Di@mante2013;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Ladisac" connectionString="Data Source=192.168.10.2,1433;Initial Catalog=Diamante;User ID=DesarrolloDiamante;Password=Di@mante2013;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />    
  </connectionStrings>
  <dataConfiguration defaultDatabase="Ladisac" />
</configuration>
